server:
  port: 8081
spring :
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"

  application :
    name : universite

  config:
    import: optional:configserver:${CONFIG_SERVICE_URL:http://localhost:9999}

  datasource:
    url: 'jdbc:h2:mem:unisdb'
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  cloud:
    config:
      enabled: true
    discovery:
      enabled: true
  eureka:
    client:
      service-url:
        defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761/eureka/}

management:
  endpoints:
    web:
      exposure:
        include: '*'
#author:
#  name: "sarra makhlouf"
#  email: "smakhlouf278@gmail.com"