server:
  port: 8888
spring :
  application :
    name : gatewayserver
  cloud:
    config:
      enabled: false
    discovery:
      enabled: true
#    openfeign:
#      circuitbreaker:
#        enabled: true

    gateway:
#      routes:
#        - id: r1
#          uri: lb://DOMAINE
#          predicates:
#            - Path= /api/domaines/**
#        - id: r2
#          uri: lb://UNIVERSITE
#          predicates:
#            - Path= /api/universites/**
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761/eureka/}

  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    gateway:
      access: unrestricted

resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 2
      failureRateThreshold: 50
      waitDurationInOpenState: 10000
