spring :
  application :
    name : domaine
  datasource:
    url: 'jdbc:h2:mem:domdb'
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  cloud:
    config:
      enabled: false
    discovery:
      enabled: false
management:
    endpoints:
      web:
        exposure:
          include: health
